@import "vars";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;


  &:before &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: 'VW Text Office';
  overflow-x: hidden;
  opacity: 1;
  color: #030303;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}


